
#navflex{
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}
#font{
  font-family: 'Lobster', cursive;
  font-size: 5vh;
  margin-left: 10px;
  color: silver;
}
.size{
  font-size: 17px;

}
.targ{
    position: relative;
    bottom: 0vh;
}

.inout {
    position: relative;
    left: 55vw;
  
}
.wid{
    width:30vw;
}
.inoutlog {
    position: relative;
    left:15vw;
    bottom: 6vh;
}
.tog{
    position: relative;
    left: 31vw;
}




@media only screen and (max-width:900px) {
    .inoutlog {
       margin: 2px 1px;
        position: relative;
        left:-3vw;
        bottom: 0vh;
       width:-moz-fit-content;
    }
    .inout {
        position: relative;
        left: 3vw;
      
    }
    
}
@media only screen and (min-width:700px){
    .tog{
        position: relative;
        left: 58vw;
    }
}

.backg{
    background-color: rgba(192, 192, 189, 0.61);
}

@media only screen and (max-width:1300px) {
    .inoutlog {
       margin: 2px 1px;
        position: relative;
        left:-3vw;
        bottom: 0vh;
       width:-moz-fit-content;
    }
    .inout {
        position: relative;
        left: 42vw;
      
    }
}

