{% extends 'awaremeapp/orgbase.html' %}
{% load static %}
{% block settingactive %} active {% endblock settingactive %}
{% block content %}
<h1>Account settings</h1>
<p>hello,{{request.user}}</p>
<form method="POST" enctype="multipart/form-data">
    <!-- <img src="{{request.user.orgdetail.profile_pic.url}}" alt="not found" class="img-thumbnail"> -->
{% csrf_token %}
{{form.mission.label}}
<br>
{{form.mission}}
<br>
{{form.Contact.label}}
{{form.Contact}}
<br>
{{form.portfolio.label}}
{{form.portfolio}}
<br>
<!-- {{form.profile_pic}} -->
<input type="submit" value="submit">
</form>
{% endblock %}