{% extends 'awaremeapp/orgbase.html' %}
{% block organistionactive %} active {% endblock organistionactive %}"
{% block content %}

<h1>Welcome to Aware Me</h1>
<table>
    <thead>
<tr>
    <th>view profile</th>
</tr>
</thead>

{% for i in model %}
<tr>
    <td><a href="{% url 'org_profile' i.id %}">view profile</a></td>
</tr>
{% endfor %}


</table>

<table>
    <thead>
<tr>
    <th>name of organisation</th>
</tr>
</thead>
{% for i in userList %}
<tr>
    <td>{{i.first_name}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}



