{% extends 'base.html' %}
{% block loginactive %} active {% endblock loginactive %}

{% block title %}
    login page
{% endblock title %}


{% block content %}
<div class="" style="display: flex;
justify-content: center;top: 20vh; position: relative;">
<form action="{% url 'login' %}" method='POST'>
    {% csrf_token %}
    <div class="mb-3">
      <label for="usernamew" class="form-label" >Username</label>
      <input type="text" style="width: 500px;" id="usernamew"class="form-control" name="username">
    </div>
    <div class="mb-3">
      <label for="pass" class="form-label">Password</label>
      <input type="password" class="form-control" id="pass" name="password" >
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: rgb(162, 234, 247);color:black">Submit</button>
    <p>don't have an account?,create one here </p>
    <p> <a style="text-decoration: none;" href="{% url 'register' %}">Organisation sign up</a></p>
    <p> <a style="text-decoration: none;" href="{% url 'userhome' %}">User sign up</a></p>
  </form>




</form>
</div>
</div>
{% endblock %}
