{% extends 'base.html' %}
{% block loginactive %} active {% endblock loginactive %}

{% block title %}
    login page
{% endblock title %}


{% block content %}
<p></p>
<div class="container">
<form action="{% url 'login' %}" method='POST'>
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" >Username</label>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% for message in messages %}
<b>{{message}}</b>
{% endfor %}
<br>
<p>don't have an account?,create one here <a href="{% url 'register' %}">sign up</a></p>



</form>
</div>
</div>
{% endblock %}
