{% extends 'awaremeapp/orgbase.html' %}
{% load static %}
{% block content %}
{% load humanize %}
{% load extras %}

<div class="container backg">
    <h1 style="color: rgb(75, 0, 75);font-size: 55px;">{{newspk.title}}</h1>
    <p style="font-weight: bold;color:rgb(238, 250, 65) ; font-size: 18px;"><b>editor: </b>{{newspk.author}} from {{newspk.locations}} @{{newspk.timestamp}}</p>

    <hr>
    <p style="font-weight: bold;color:rgb(255, 255, 255);font-size: 20px;font-family: sans-serif;">{{newspk.brief}}</p>
    <hr>
    <div class="">
        {% for group in request.user.groups.all %}
        {% if group.name == 'NGO' %}
        
        {% if newspk.user == request.user %}
            
        
            
        <a class="btn btn-light" style="background-color: rgb(225, 182, 104);color: white;" href="{% url 'updateFeed' newspk.id %}">update news </a>

        <a class="btn btn-danger" style="background-color: rgba(248, 41, 41, 0.747);" href="{% url 'deleteFeed' newspk.id %}">delete </a>
        <hr>
        {% endif %}
        {% endif %}
        {% endfor %}
        <div class="container backg">
            <h2>Comments ({{count}}) :</h2>
            <form action="{% url 'postComment' newspk.id %}" method="POST">

                {% csrf_token %}
                <div class="container">
                    <input type="text" class="form-control" name="comment" placeholder="add your comments" rows="2"
                        cols="1">
                    <input type="hidden" name="postsno" value="{{newspk.id}}">
                    <input type="hidden" name="parentSno" value="">
                    <button type="submit" class="btn btn-outline-success my-2">add comment</button>
                </div>
        </div>

        </form>

        {% for comment in comments %}
        <div class="container backg">

            <div class="row my-3">
                <p><b>{{comment.writer}} </b><span
                        class="badge bg-secondary text-light">{{comment.timestamp|naturaltime}}</span> </p>

                <p>{{comment.comment}}</p>

                <div class="replybox mx-0">
                    <p>

                        <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#replybox{{comment.id}}" aria-expanded="false"
                            aria-controls="replybox{{comment.id}}">
                            reply
                        </button>
                    </p>
                    <div class="collapse" id="replybox{{comment.id}}">
                        <div class="card card-body">

                            <form action="{% url 'postComment' newspk.id %}" method="POST">

                                {% csrf_token %}
                                <div class="container">
                                    <input type="text" class="form-control" name="comment"
                                        placeholder="add your comments" rows="2" cols="1">
                                    <input type="hidden" name="parentSno" value="{{comment.id}}">
                                    <input type="hidden" name="" value="{{newspk.id}}">
                                    <button type="submit" class="btn btn-outline-success my-2">comment</button>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="replies mx-4 my-1">


                        {% for reply in replyDict|get_val:comment.id %}
                        <p><b>{{reply.writer}} </b><span
                                class="badge bg-secondary text-light">{{comment.timestamp|naturaltime}}</span></p>
                        {{reply.comment}}
                        {% endfor %}

                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}