{% extends 'base.html' %}

{% block title %}
Register organisation
{% endblock title %}

{% block content %}

<div class="container backg " style="display: flex;
    justify-content: center; ">
  <form method="POST">

    {% csrf_token %}
    <h2 style="text-align: center;color: rgb(251, 255, 0);margin: 5px;background-color: rgba(192, 192, 189, 0.466);">Sign-Up-Organisation</h2>
    <div class="form-floating mb-3">
      <input type="text" style="width: 50vw" class="form-control" id="floatingInput" name="username"
        placeholder="username" required>
      <label for="floatingInput" style="color: rgb(167, 175, 173);">username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" style="width: 50vw" id="floatingInput" name="fname"
        placeholder="first name" required>
      <label for="floatingInput" style="color: rgb(167, 175, 173);">name of organisation</label>
    </div>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" style="width: 50vw" id="floatingInput" name="email"
        placeholder="name@example.com" required>
      <label for="floatingInput" style="color: rgb(167, 175, 173);">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" style="width: 50vw" id="floatingInput" name="pass1"
        placeholder="password" required>
      <label for="floatingInput" style="color: rgb(167, 175, 173);">password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingInput" style="width: 50vw" name="pass2"
        placeholder="password2" required>
      <label for="floatingInput" style="color: rgb(167, 175, 173);"> re-enter password </label>
    </div>
    <input type="submit" name="submit" class="btn btn-success" style="position: relative;
        left:8vw;
        border-radius: 20px;
        width:30vw; margin-top: 5px; margin-bottom: 12px;color: #00000082;background-color: rgb(162, 247, 162); padding: 10px;
    font-size: 20px;font-weight: bold;" value="submit">
  </form>
</div>

{% endblock %}