{% extends 'awaremeapp/orgbase.html' %}

{% block title %}
    search results
{% endblock title %}

{% block content %}
<div class="container">

    <br>
<h3>search results </h3>

{% if feed|length < 1 %}

 <p>no search results found for {{query}} </p>
 <p>please try something else </p>

{% endif %}

<ol>
{% for feeds in feed %}
    <li><h6><U>{{feeds.title}}</U></h6></li>
    <p>author--{{feeds.author}}<br>
    {{feeds.brief|truncatechars:500}}
    <a class="btn btn-primary" href="{% url 'newsFeed' feeds.id %}">read full</a></p>
{% endfor %}
</ol>


</div>
{% endblock %}