{% extends 'awaremeapp/orgbase.html' %}

{% block title %}
    search results
{% endblock title %}

{% block content %}
<div class="container">

    <br>
<h3>search results :</h3>

{% if feed|length < 1 %}

 <p>no search results found for {{query}} </p>
 <p>please try something else </p>

{% endif %}
<ol >
    {% for feeds in feed %}
        <li ><h5><a class="text-dark" style="background-color: rgb(255, 229, 190);text-decoration: none;" href="{% url 'newsFeed' feeds.id %}"><b>{{feeds.title}}</b></a></h5></li>
        <p style="background-color: rgb(206, 245, 227);">author--{{feeds.author}}<br>
        {{feeds.brief|truncatechars:500}}
        <a class=""style="text-decoration: none;color:black;" href="{% url 'newsFeed' feeds.id %}"><b>continue reading</b></a></p>
    {% endfor %}
</ol>


</div>
{% endblock %}