{% extends 'base.html' %}
{% load static %}

{% block title %}
About us
{% endblock title %}

{% block aboutusactive %}
active
{% endblock aboutusactive %}




{% block content %}
<div class="backg" style="margin: 15px;padding: 10px;font-size: 20px;font: bold sans-serif;">
    <h1 style="font: small-caps bold 30px/1 sans-serif;color: rgb(51, 255, 0);">what we are trying to solve?</h1>
    <p style="font-weight: bolder;">We are trying to reduce the gap between government organizations/ NGOs and citizens by providing them one single
        platform for collecting information related to any social awareness program which is applicable for them based
        on
        their search. By the end of our project user would be able to make online registrations even they would be able
        to
        donate online to any organizations that they prefer. Our project will help citizens to stay update related to
        any
        schemes and government facilities.</p>
    <hr>
    <h2 style="font: small-caps bold 30px/1 sans-serif;color: rgb(51, 255, 0);">our motive...</h2>
    <p style="font-weight: bolder;">Our main motive behind this is to help people get aware about social campaigns. When we look around we see that,
        there is a need of making this particular kind of platform which will help people to interact with various
        NGO’S ,Social camps and government schemes.</p>
    <hr>
    <h2 style="font: small-caps bold 30px/1 sans-serif;color: rgb(51, 255, 0);">problem that we want to solve </h2>
    <p style="font-weight: bolder;">The problem is people are unaware about the social camps due to lack of information and also because of
        hectic lifestyle. We can see that people have lost their interest in any social activities due to which society
        is
        affected and humanity is lost.Even if social camps are held very few people take part in it.</p>
    <hr>
    <h2 style="font: small-caps bold 30px/1 sans-serif;color: rgb(51, 255, 0);">main purpose</h2>
    <p style="font-weight: bolder;">Our main objective is to create a platform through which people will become socially more active as they will
        get to know about the particular camps. This will help people to get aware about what is going on in our
        society.
    </p>
    <hr>
    <h2 style="font: small-caps bold 30px/1 sans-serif;color: rgb(51, 255, 0);">making use of online Payment Gateway </h2>
    <p style="font-weight: bolder;">With the exponential growth of donations on the online platforms in recent years, promoting a culture of donation
        and social services within the community through the web platform available on smart phones is the next step</p>
    <hr>
    <h2 style="font: small-caps bold 30px/1 sans-serif;color: rgb(51, 255, 0);">what makes AWAREME easy...</h2>
    <p style="font-weight: bolder;">The AWARE
        ME makes it easy for people and residents to donate with a single click from anywhere and at any time.This web
        application helps you to get notified about nearby social welfare programs such as Donation camps or anyother
        NGO's to get in touch with them for social cause</p>
    <hr>
    <h2 style="font: small-caps bold 30px/1 sans-serif;color: rgb(51, 255, 0);">what we support..</h2>
    <p style="font-weight: bolder;">This web platform supports kind efforts for charity by eliminating the donor’s problems of time and distance
        using
        technology.Connecting donors, helping out physically, this electronic channel processes charitable payments
        through utilizing the-Payment Gateway.</p>
    <hr>
    <footer>
       <p style="font-weight: bolder;">contact us: <a href="https://github.com/heygovindnarayan/awaremeProject">github</a></p> 
    </footer>
</div>
{% endblock content %}