{% extends 'base.html' %}
{% block contactactive %} active {% endblock contactactive %}
{% block title %}
    Contact 
{% endblock title %}

{% block content %}
<div class="container" >
    <br>
    <h5>Contact us as well as Organisations</h5>
<hr>
    <form action="/contact" method="POST">
        {% csrf_token %}
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name :</label>
        <input type="text" class="form-control" name ="name" id="exampleFormControlInput1" >
      </div>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address :</label>
    <input type="email" class="form-control" name ="email" id="exampleFormControlInput1" placeholder="@" >
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Phone number :</label>
    <input type="text" class="form-control" name ="number" id="exampleFormControlInput1" >
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description :</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="textbox" rows="3" placeholder="mention your queries here.."></textarea>
  </div>
  <input type="submit" class="btn btn-primary" value="submit">
</form>
</div>
{% endblock %}
    