{% extends 'base.html' %}
{% load static %}
{% block title %}
User Page
{% endblock title %}

{% block useractive %} active {% endblock useractive %}


{% block content %}

<div class="container backg" style="display: flex;
justify-content: center;  ">

  <form method="POST">
    {% csrf_token %}
    <h2>Sign-Up-User</h2>
    <div class="form-floating mb-3">
      <input type="text" style="width: 50vw" class="form-control" id="floatingInput" name="username"
        placeholder="username" required>
      <label for="floatingInput">username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" style="width: 50vw" class="form-control" id="floatingInput" name="fname"
        placeholder="first name" required>
      <label for="floatingInput">first name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" style="width: 50vw" class="form-control" id="floatingInput" name="lname"
        placeholder="last name" required>
      <label for="floatingInput">last name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" style="width: 50vw" class="form-control" id="floatingInput" name="email"
        placeholder="name@example.com" required>
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" style="width: 50vw" id="floatingInput" name="pass1"
        placeholder="password" required>
      <label for="floatingInput">password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingInput" name="pass2" style="width: 50vw"
        placeholder="password2" required>
      <label for="floatingInput"> re-enter password </label>
    </div>

    <input type="submit" name="submit" class="btn btn-success" style="position: relative;
    left:8vw;
    border-radius: 20px;
    width:30vw; margin-top: 5px; margin-bottom: 12px;color: #00000082; padding: 10px;
font-size: 1rem;background-color: rgb(162, 234, 247);" value="sign up">

  </form>
</div>
{% endblock content %}